.*
!.gitignore
ROOT-Sim-*
NeuRome-*
Simulator
Simulators
USE-*
*.o*
driver
*.kde*
*~
queues
simulation_*
analytical_model_computation
*_bin
main
*/outputs*
docs/latex/*
docs/html/*
*.aux
*.log
tree_simulator/output.txt
tree_simulator/report.tex
*.synctex.gz
jsonMerger/*.tex
jsonMerger/*.pdf
jsonMerger/*.json
jsonMerger/jsonAdditionalInfo.txt
